* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* custom font & text effects*/
@font-face {
  font-family: 'myHeaderFont';
  src: url('./fonts/baveuse.woff') format('woff');
}

@font-face {
  font-family: 'myRegularFont';
  src: url(./fonts/MafinestIta0.woff) format('woff');
}
.header-font {
  font-family: 'myHeaderFont', sans-serif;
  color: #f1916d;
}
.header-font {
  font-family: 'myHeaderFont', sans-serif;
  color: #f1916d;
}
.hand-writing {
  font-family: 'Edu SA Beginner', cursive;
}
.common-font {
  font-family: 'myRegularFont', sans-serif;
}

/* Main background image */
#root {
  background-image: url("../src/images/binary-code.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* logo */
.circle-image {
  width: 50%; /* Adjust the width and height as needed */
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.circle-image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the circular container */
}

/* Navbar styles */
nav {
  background-color: rgba(27, 51, 88, .9);
}
.nav-link, .navbar-brand, .navbar-toggler-icon {
  color: #f1916d !important;
}
.navbar-toggler {
  border: 2px solid #f1916d !important;
  border-color: #f1916d !important;
}
.navbar-toggler-icon {
  font-size: 1.2rem;
  padding: 3px;
}
.content-wrapper {
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: transform 0.3s ease;
}
.navbar-open .content-wrapper {
  transform: translateY(50px);
}

/* Notifications */

.notification-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.notification-overlay .alert {
  max-width: 400px;
  background-color: #1b335b;
  color: #f1916d;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* General spacing, shadows and effects for divs */
.spacing {
  margin-bottom: 5rem;
}
/* button.custom-button {
  background-color: #f5d7db;
} */
input, button {
  box-shadow: 5px 5px 10px 1px #1b335b;
}
#no-shadow {
  box-shadow: none;
}
h1 {
  text-shadow: 5px 5px 13px #1b335b;
}
p {
  font-family: 'myRegularFont', sans-serif;
}
.nutrition-box {
  background-color: white;
}
.glass-box {
  background-color: #06142e;
  border: 1px solid #1b335b;
  box-shadow: 5px 5px 10px 1px #1b335b;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 10px;
  /* max-width: 80%; */
  color: #f5d7db
}
.calories, .login, .logout, .delete {
  min-height: 80vh;
}
.big-arrow {
  font-size: 2rem;
}

.fill-screen {
  min-height: 90vh;
}

/* Back to top btn styles & animation */
.back-to-top-button {
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  position: fixed;
  bottom: 95px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  animation: bounce .5s infinite alternate;
}
.back-to-top-button.visible {
  opacity: 1;
  visibility: visible;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-15px);
  }
}
#arrow-image {
  filter: invert(1); /* Invert the colors (turns black to white) */
}

/* Footer */
footer {
  background-color: rgba(27, 51, 88, .9);
}
.footer > div {
  color: #f1916d;
}
.social-icons i {
  color: #f1916d;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

div > a {
  color: #f1916d;
  text-decoration: none;
}

/* Media queries */
@media (max-width: 992px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0;
    top: 100%;
    background-color: rgba(27, 51, 88, .9);
    z-index: 1;
    overflow-y: auto;
    max-height: calc(100vh - 12vh);
    transition: max-height 0.3s ease;
    margin-top: 0;
  }
}

.user-avatar {
  width: 100%;
}

/* animations */

/* Slide in from the left */
.animate-slide-left {
  transform: translateX(-360px);
  animation: come-in 1s ease forwards;
  opacity: 0;
}

/* Slide in from the right */
.animate-slide-right{
  transform: translateX(360px);
  animation: come-in 1s ease forwards;
  opacity: 0;
}

/* Slide out to the left */
.animate-slide-out-left {
  animation: go-out-left 1s ease forwards;
}

/* Slide out to the right */
.animate-slide-out-right {
  animation: go-out-right 1s ease forwards;
}

/* Slide in from the top */
.animate-slide-top {
  transform: translateY(-360px);
  animation: come-in-top 1s ease forwards;
  opacity: 0;
}

/* Slide in from the bottom */
.animate-slide-bottom {
  transform: translateY(360px);
  animation: come-in-bottom 1s ease forwards;
  opacity: 0;
}

/* Slide out to the top */
.animate-slide-out-top {
  animation: go-out-top 1s ease forwards;
}

/* Slide out to the bottom */
.animate-slide-out-bottom {
  animation: go-out-bottom 1s ease forwards;
}

/* Button fade in & out */
.fade-out {
  animation: fadeOut 1s ease forwards;
}

.fade-in {
  animation: fadeIn 1s ease forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes come-in {
  to {
      transform: translateX(0);
      opacity: 1;
  }
}

@keyframes go-out-left {
  to {
    transform: translateX(-360px);
    opacity: 0;
  }
}

@keyframes go-out-right {
  to {
    transform: translateX(360px);
    opacity: 0;
  }
}

@keyframes come-in-top {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes come-in-bottom {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes go-out-top {
  to {
    transform: translateY(-360px);
    opacity: 0;
  }
}

@keyframes go-out-bottom {
  to {
    transform: translateY(360px);
    opacity: 0;
  }
}


/* not sure?? */
/* .max {
  max-height: 67vh;
} */

.project-image {
  width: 75%;
  height: 70%;
  object-fit: cover;
}

.project-image-large {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.project-box {
  height: 7rem;
  width: 100%;
}

.project-container {
  max-height: 100vh;
  overflow-y: auto;
}

/* Styles for Webkit browsers (Chrome, Safari) */
.project-container::-webkit-scrollbar {
  width: 12px;
}

.project-container::-webkit-scrollbar-thumb {
  background-color: #f1916d;
  border-radius: 10px;
}

/* Styles for Firefox */
.project-container {
  scrollbar-color: #f1916d transparent;
  scrollbar-width: thin;
}

.project-container::-webkit-scrollbar-thumb:active {
  background-color: #f1916d;
}

.randomAvatar {
  height: 2rem;
}